# netlify.toml

[build]
  command = "hugo mod get -u && hugo --gc --minify -b $URL"
  publish = "public"

[build.environment]
  GO_VERSION = "1.25.4"
  HUGO_VERSION = "0.152.2"
  NODE_ENV = "production"

[context.production.environment]
  HUGO_ENV = "production"
