@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.ContentViewModel>

@{
  Layout = "default.cshtml";
}

  <header>
  <div class="head-inner">
    <h1>About me</h1>
  </div>
  </header>

  <div class="fancy-container lightblue">
    <!-- http://www.gravatar.com/avatar/3d7c012bb27ad7b2f40976c5edc58968.jpg?s=300&d=monsterid -->

    <div class="row-fluid">
      <img class="span3" src="http://www.gravatar.com/avatar/3d7c012bb27ad7b2f40976c5edc58968.jpg?s=300&d=monsterid" title="Kunjan" />
      <p>
      I am Kunjan a.k.a. Kunjee. Failed poet, mathematics enthusiastic, functional programming evangelist and the last person standing in queue of alpha nerds. 

      <br/> 
    
      Software Engineer as per Day job description.  Blogger, coder, foodie, marathon runner, occasionally MMA practitioner and few other after that.  
      <br/> 

      Partially natural ambidextrous, a proper south paw and a true Sagittarius.  
      <br/> 
      
    </p>
    
  </div>

    <br/>
    <br/>
    <div class="row-fluid">
    <p>Yes, I am fan of <a href="http://xkcd.com/">XKCD</a></p>
    <p>A XKCD <i>Byte</i> </p>
    <div id="xkcdcontent"></div> 
  </div>
</div>
