@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase
<Snow.ViewModels.ContentViewModel>

    @{ Layout = "default.cshtml"; }

    <header>
        <div class="head-inner">
            <h1>Kind of Resume...</h1>
        </div>
    </header>

    <div class="fancy-container lightblue">
        <p>It has been more than 7 years in Software Industry. I have worked on various technologies and also on various domains.</p>
        <p>It will rather too long to write down every project I worked on. So, here is brief detail of things I know and wanted to work on in near future.</p>
        <ul>
            <li><strong>Programming Languages</strong> - C# (4.0,5.0,6.0), F# (3.1, 4.0), Scala, JavaScript, Java, TypeScript, Haskell etc.</li>
            <li><strong>Databases &amp; NoSQL stores</strong> - SQL Server (2008), Postgres, CouchDB, Couchbase Lite, Cloudant, RethinkDB, MongoDB</li>
            <li><strong>Frameworks</strong> -
                <ul>
                    <li><em>Nodejs</em> - Sailsjs, Expressjs, Meteorjs etc.</li>
                    <li><em>.Net</em> - <a href="http://Asp.Net">Asp.Net</a> MVC, <a href="http://Asp.Net">Asp.Net</a> Web API, NancyFX, Servicestack, SauveIO etc.</li>
                    <li><em>JavaScript</em> - Angularjs, UnderscoreJS, KnockoutJS, LodashJS, ReactJS etc</li>
                    <li><em>Mobile</em> - Xamarin, ionic, phonegap</li>
                    <li><em>Cloud</em> - Azure, Amazon, Heroku, Digital Ocean etc.</li>
                    <li><em>Game</em> - Monogame, XNA</li>
                </ul>
            </li>
            <li><strong>Achivements Unlocked</strong> -
                <ul>
                    <li>Founding member of <a href="http://FSharp.org">FSharp.org</a>. Also, my projects are listed on Web reference page <a href="http://fsharp.org/guides/web/">page</a></li>
                    <li>Expert member of Servicestack. Mainly work on Servicestack with F#. To bring in F# bits for Servicestack. And also running Servicestack to Linux/Unixbased system.</li>
                </ul>
            </li>
            <li><strong>Brief Info on Official Projects</strong> -
                <ul>
                    <li>Game and Game engines using XNA 4.0 and Win Forms</li>
                    <li>C++ based Cross Platfrom UI using JUCE framework.</li>
                    <li>Single sign on using Identity Managment. Web application in Education management domain using <a href="http://Asp.Net">Asp.Net</a> MVC, EntityFramework, JQuery etc.</li>
                    <li>On boarding system using <a href="http://Asp.Net">Asp.Net</a> MVC, Knockout, JQuery, JQGrid. Excel import utility using OpenXML</li>
                    <li>Cross platfrom mobile application using Phonegap to manage sensors and devices. Cloud based application using Nodejs to manage sensors and devices. Redis pub sub, Mongodb, angularjs, sailsjs used to created message based cloud system.</li>
                </ul>
            </li>
            <li><strong>Other Projects &amp; Current Status</strong> -
                <ul>
                    <li>Flexing Postgresql to handle typed and untyped data</li>
                    <li>Experimenting with <a href="http://getakka.net">AKKA</a> to create always running stateful system.</li>
                    <li>Pushing servicestack to create scalable reactive web api.</li>
                    <li>Trying ELM to create web application without JavaScript errors.</li>
                    <li>Exploring F# for Data Science and Machine Learning</li>
                    <li>Implementing DevOps (CD+CI+Cloud) for eternal developer happiness.</li>
                </ul>
            </li>
            <li><strong>Interested In / Love to work with</strong> -
                <ul>
                    <li>Machine Learning and Data Science that includes but not limited to Prediction Algorithm, Natural Language Processing etc</li>
                    <li>Distributed real-time system</li>
                    <li>Last but not the least Cross Platform mobile applications and games</li>
                </ul>
            </li>
        </ul>
        <blockquote>
            <p>If you like to check out my past companies and experience have a look at my <a href="https://in.linkedin.com/in/kunjee17">linkedIn</a>. You can always contact me via <a href="mailto:contact@kunjan.in">mail</a> or drop comment/s on any of the articles for related details.</p>
        </blockquote>
    </div>
