@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.ContentViewModel>

@{
Layout = "default.cshtml";
}

<header>
  <div class="head-inner">
    <h1>About me</h1>
  </div>
</header>

<div class="fancy-container lightblue">
  <p>Coming Soon...</p>  
</div>


