---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Navbar from "./Navbar.astro";
import Sidebar from "./Sidebar.astro";

interface Props {
	title: string;
	description?: string;
}

// biome-ignore lint/correctness/noUnusedVariables: Used in template below
const { title, description }: Props = Astro.props;
---

<BaseLayout title={title} description={description}>
	<div class="drawer lg:drawer-open">
		<input id="admin-drawer" type="checkbox" class="drawer-toggle" />
		<div class="drawer-content flex flex-col">
			<Navbar />
			<main class="flex-1 p-4 lg:p-8">
				<slot />
			</main>
		</div>
		<Sidebar />
	</div>
</BaseLayout>
