{{ define "main" }}
<main class="prose prose-neutral dark:prose-invert relative mx-auto min-h-[calc(100vh-9rem)] max-w-(--w) px-8 pt-14 pb-16">
  <h1>{{ .Title }}</h1>
  <div class="posts-list">
    {{ range .Pages }}
      <article class="post-item">
        <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        <div class="post-meta">
          <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2 January 2006" }}</time>
        </div>
        {{ if .Summary }}
          <p class="post-summary">{{ .Summary }}</p>
        {{ end }}
      </article>
    {{ end }}
  </div>
</main>
{{ end }}

