{{ define "main" }}
<main class="prose prose-neutral dark:prose-invert relative mx-auto min-h-[calc(100vh-9rem)] max-w-(--w) px-8 pt-14 pb-16">
  <h1>{{ .Title }}</h1>
  <div class="taxonomy-list">
    {{ range .Data.Terms.Alphabetical }}
      <div class="taxonomy-item">
        <a href="{{ .Page.Permalink }}" class="taxonomy-link">
          <span class="taxonomy-name">{{ .Page.Title }}</span>
          <span class="taxonomy-count">({{ .Count }})</span>
        </a>
      </div>
    {{ end }}
  </div>
</main>
{{ end }}

